* {
	box-sizing: content-box;
}

body{

	background:white;
}


.pattern-2{
	float: left;
	width: 300px;
	height: 300px;
	margin: 25px;
	background-color: #dadada;
}

.pattern1{
	float: left;
	width: 300px;
	height: 300px;
	margin: 25px;
	background-color: #dadada;
}

.pattern2{
	float: left;
	width: 300px;
	height: 300px;
	margin: 75px;
	background-color: #dadada;
}
.pattern3{
	float: left;
	width: 300px;
	height: 300px;
	margin: 125px;
	background-color: #dadada;
}
p{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:100px;
	text-align: center;
}

h2{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:100px;
	text-align: center;

}

h3{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}